
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.wireframe-categoras-U42 {
  background-color: rgba(173, 182, 196, 0.8000000119);
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .group-3-QiN {
    height: 31.4rem;
    position: relative;
    flex-shrink: 0;
    width: 151.5rem;

    .rectangle-1-N9Q {
      width: 144rem;
      height: 23.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #294c60;
    }
    .group-2-7cn {
      left: 20.4rem;
      top: 0;
      display: flex;
      align-items: center;
      width: 130.8rem;
      height: 31.4rem;
      position: absolute;

      .laponderosalogo-1-Tge {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.3rem;
        width: 94.2rem;
        height: 31.4rem;
        object-fit: cover;
      }
      .auto-group-oudc-Bce {
        height: 23.5rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 32.3rem;
      }
    }
  }
  .auto-group-iv2a-KTx {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.5rem 0rem 0rem 0.1rem;
    width: 100%;
    align-items: center;

    .auto-group-phml-4Ae {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 23.996rem 3.4rem 25.2rem;
      width: calc(100% - 49.1959rem);
      height: 27.2rem;
      display: flex;

      .auto-group-xyxa-mar {
        flex-shrink: 0;
        margin-right: 8.8959rem;
        width: 28.5041rem;
        height: 100%;
        position: relative;

        .group-8-KMU {
          object-fit: contain;
          vertical-align: top;
          width: 28.5041rem;
          height: 27.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .supermarket-G1p {
          width: 13rem;
          height: 2.5rem;
          left: 7.8rem;
          font-size: 2rem;
          font-weight: 800;
          white-space: nowrap;
          position: absolute;
          top: 21.3rem;
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
        }
        .image-3-XiS {
          vertical-align: top;
          width: 9.8rem;
          height: 14.0361rem;
          position: absolute;
          left: 9.4rem;
          top: 5.6rem;
          object-fit: cover;
        }
      }
      .auto-group-kher-fJr {
        width: 28.5041rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 7.4959rem;

        .group-9-oR4 {
          vertical-align: top;
          width: 28.5041rem;
          height: 27.2rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
        .verdulera-wnA {
          font-family: Inter, 'Source Sans Pro';
          width: 10.4rem;
          height: 2.5rem;
          color: #3f3659;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          white-space: nowrap;
          position: absolute;
          left: 9rem;
          top: 21.3rem;
        }
        .image-1-FH4 {
          width: 13.7rem;
          height: 13.7rem;
          position: absolute;
          left: 7.3rem;
          top: 4.9rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-5pen-Nca {
        flex-shrink: 0;
        width: 28.5041rem;
        height: 100%;
        position: relative;

        .group-16-L3c {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 28.5041rem;
          height: 27.2rem;
          cursor: pointer;
          position: absolute;
        }
        .despensa-5G6 {
          position: absolute;
          left: 8.9rem;
          color: #3f3659;
          white-space: nowrap;
          font-weight: 800;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 9.9rem;
          height: 2.5rem;
          top: 21.3rem;
          font-size: 2rem;
        }
        .image-4-PGn {
          position: absolute;
          left: 6.7rem;
          top: 4.9rem;
          object-fit: cover;
          vertical-align: top;
          width: 14.3rem;
          height: 14.3rem;
        }
      }
    }
    .auto-group-qffq-v1p {
      height: 27.2rem;
      display: flex;
      column-gap: 8.8959rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 23.996rem 4rem 23.8rem;
      width: calc(100% - 47.7959rem);

      .auto-group-8krx-dS2 {
        width: 28.5041rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-12-BCe {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 28.5041rem;
          height: 27.2rem;
          position: absolute;
          left: 0;
        }
        .lacteos-KJr {
          white-space: nowrap;
          height: 2.5rem;
          position: absolute;
          left: 10.3rem;
          top: 21.6rem;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          width: 7.9rem;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
        }
        .image-2-1xN {
          vertical-align: top;
          width: 16.1rem;
          height: 16.1rem;
          position: absolute;
          left: 7.6rem;
          top: 3.8rem;
          object-fit: cover;
        }
      }
      .auto-group-zvpy-9Yn {
        width: 28.5041rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-13-tWN {
          object-fit: contain;
          vertical-align: top;
          width: 28.5041rem;
          height: 27.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .botilleria-EaE {
          line-height: 1.2125;
          white-space: nowrap;
          height: 2.5rem;
          top: 21.6rem;
          font-size: 2rem;
          font-weight: 800;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          width: 8.9rem;
          position: absolute;
          left: 9.8rem;
        }
        .image-5-Yqp {
          width: 14.9rem;
          height: 14.9rem;
          position: absolute;
          left: 6.8rem;
          top: 4.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-qerv-UDg {
        flex-shrink: 0;
        width: 28.5041rem;
        height: 100%;
        position: relative;

        .group-14-d6a {
          width: 28.5041rem;
          height: 27.2rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .productos-caseros-yAS {
          width: 15.2rem;
          position: absolute;
          left: 6.7rem;
          top: 21.6rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
          height: 2rem;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
        }
        .image-6-GfL {
          height: 15.5rem;
          position: absolute;
          left: 6.4rem;
          top: 4.4rem;
          object-fit: cover;
          vertical-align: top;
          width: 15.5rem;
        }
      }
    }
    .rectangle-10-ofG {
      height: 8.4rem;
      background-color: #294c60;
      flex-shrink: 0;
      width: 100%;
    }
  }
}
