
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.wireframe-delivery-xPL {
  flex-direction: column;
  background-color: rgba(173, 182, 196, 0.8000000119);
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;

  .group-3-hri {
    width: 151.5rem;
    height: 31.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-TL6 {
      width: 144rem;
      height: 23.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #294c60;
    }
    .group-2-QFL {
      display: flex;
      align-items: center;
      width: 130.8rem;
      height: 31.4rem;
      position: absolute;
      left: 20.4rem;
      top: 0;

      .laponderosalogo-1-Xqk {
        flex-shrink: 0;
        margin-right: 4.3rem;
        width: 94.2rem;
        height: 31.4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-wdna-GYS {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 32.3rem;
        height: 23.5rem;
        position: relative;
      }
    }
  }
  .auto-group-g7hc-Qee {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 0rem 0rem 0.1rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-ct4e-Kmc {
      margin: 0rem 70.3rem 8.6rem 0rem;
      width: 66.4rem;
      height: 10rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-18-e3C {
        top: 0.1rem;
        background-color: rgba(255, 209, 177, 0.5530000056);
        border-radius: 8.4317rem;
        width: 65.8rem;
        height: 9.9rem;
        position: absolute;
        left: 0.6rem;
      }
      .group-11-krv {
        width: 10.4795rem;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .elige-tu-modo-de-entrega-W5Q {
        left: 12.6476rem;
        top: 2.4091rem;
        font-size: 4rem;
        color: #1a0031;
        white-space: nowrap;
        height: 4.9rem;
        position: absolute;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 49rem;
        font-weight: 800;
      }
      .image-22-CU2 {
        top: 1.9rem;
        object-fit: cover;
        vertical-align: top;
        width: 5.7rem;
        height: 5.7rem;
        position: absolute;
        left: 2.3rem;
      }
    }
    .auto-group-gnbc-L4S {
      width: calc(100% - 69.4rem);
      height: 32.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 34.8rem 7.8rem 34.6rem;

      .auto-group-duzv-S7U {
        margin-right: 13.9rem;
        width: 33.9rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-8-P2i {
          vertical-align: top;
          width: 33.9rem;
          height: 32.9rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
        .retiro-en-local-iqg {
          left: 10rem;
          font-size: 2rem;
          font-weight: 800;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 14rem;
          height: 2.5rem;
          position: absolute;
          top: 24.3rem;
          line-height: 1.2125;
        }
        .image-7-Rk6 {
          width: 14.4rem;
          height: 14rem;
          cursor: pointer;
          position: absolute;
          left: 10.1rem;
          top: 8.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-b2fk-ZLW {
        width: 33.9rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-9-iDQ {
          object-fit: contain;
          vertical-align: top;
          width: 33.9rem;
          height: 32.9rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .delivery-rqQ {
          top: 24.3rem;
          font-weight: 800;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 8.3rem;
          height: 2.5rem;
          font-size: 2rem;
          color: #3f3659;
          white-space: nowrap;
          position: absolute;
          left: 12.8rem;
        }
        .image-9-yQE {
          position: absolute;
          left: 10.7rem;
          top: 10.2rem;
          object-fit: cover;
          vertical-align: top;
          width: 12.5rem;
          height: 12.5rem;
          cursor: pointer;
        }
      }
    }
    .rectangle-10-WQA {
      width: 100%;
      height: 8.4rem;
      background-color: #294c60;
      flex-shrink: 0;
    }
  }
}
