
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.wireframe-catalogo-oM4 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 182, 196, 0.8000000119);

  .group-3-8u8 {
    height: 31.4rem;
    position: relative;
    flex-shrink: 0;
    width: 151.5rem;

    .rectangle-1-Hn2 {
      height: 23.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #294c60;
      width: 144rem;
    }
    .group-2-EhG {
      height: 31.4rem;
      position: absolute;
      left: 20.4rem;
      top: 0;
      display: flex;
      align-items: center;
      width: 130.8rem;

      .laponderosalogo-1-P4N {
        height: 31.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.3rem;
        width: 94.2rem;
      }
      .auto-group-vp6w-Wug {
        margin-bottom: 0.1rem;
        width: 32.3rem;
        height: 23.5rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-vflv-EKt {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 0.1rem;

    .auto-group-jcr8-AzE {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 6rem 4.9rem 11.1rem;
      width: calc(100% - 17.1rem);
      height: 10rem;

      .auto-group-wf8w-t9Y {
        position: relative;
        flex-shrink: 0;
        margin-right: 43.6072rem;
        width: 40.5928rem;
        height: 100%;

        .rectangle-18-Qta {
          left: 0.6023rem;
          top: 0.1205rem;
          background-color: rgba(255, 209, 177, 0.5530000056);
          border-radius: 8.4317rem;
          width: 39.9906rem;
          height: 9.8772rem;
          position: absolute;
        }
        .group-11-ieN {
          height: 10rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 10.4795rem;
        }
        .despensa-4iE {
          width: 21.5rem;
          left: 12.6476rem;
          line-height: 1.2125;
          color: #1a0031;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          height: 5.3rem;
          position: absolute;
          top: 2.4091rem;
          font-size: 4.3363rem;
          font-weight: 800;
        }
        .image-4-xYi {
          vertical-align: top;
          width: 5.4204rem;
          height: 5.4204rem;
          position: absolute;
          left: 2.5295rem;
          top: 2.2886rem;
          object-fit: cover;
        }
      }
      .auto-group-voei-H5C {
        padding: 0.8rem 1rem 0.7rem 1rem;
        border: solid 0.4rem #3f3659;
        background-color: #b4bcc7;
        flex-shrink: 0;
        margin: 2rem 0rem 2.8rem 0rem;
        box-sizing: border-box;
        width: 49.8rem;
        height: calc(100% - 4.8rem);
        border-radius: 1.5rem;

        .image-14-yTp {
          width: 3.7rem;
          height: 3.7rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-uotv-U9g {
      margin: 0rem 22.7rem 1.8rem 22.1rem;
      width: calc(100% - 44.8rem);
      height: 40.9rem;
      display: flex;
      column-gap: 3.7rem;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ii8i-nAN {
        display: flex;
        border-radius: 4.375rem;
        box-sizing: border-box;
        padding: 4.4rem 2.2rem 2.4rem 2.3rem;
        width: 23.8rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-color: #d9d9d9;
        flex-shrink: 0;

        .image-15-5vA {
          height: 16.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.1rem 3.5rem 0rem;
          width: 16.4rem;
        }
        .item-950-1op {
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.1rem 1rem 0rem;
          font-size: 2rem;
        }
        .mxima-L5Q {
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 14.6rem 1rem 0rem;
          font-size: 1.2rem;
          font-weight: 800;
        }
        .harina-sin-polvos-de-hornear-1kg-rJe {
          font-size: 1.2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4.5rem;
        }
        .auto-group-1nug-BLv {
          width: calc(100% - 5.2rem);
          align-items: center;
          background-color: #3f3659;
          border-radius: 0.5rem;
          margin: 0rem 2.7rem 0rem 2.5rem;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.2125;
          color: #f5f5f5;
          white-space: nowrap;
          height: 2.2rem;
          justify-content: center;
        }
      }
      .auto-group-fhws-bvS {
        height: 100%;
        border-radius: 4.375rem;
        width: 23.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #d9d9d9;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.4rem 3.7rem 2.4rem 2.3rem;

        .image-19-ikA {
          margin: 0rem 0rem 3.5rem 1.4rem;
          width: 16.4rem;
          height: 16.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-499-EyQ {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1rem 0.4rem;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
        }
        .mxima-mTY {
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 13.1rem 1rem 0rem;
          font-size: 1.2rem;
          font-weight: 800;
        }
        .spaghetti-n-5-mxima-400-g-Usk {
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.5rem 4.5rem 0rem;
          font-size: 1.2rem;
          font-weight: 800;
          line-height: 1.2125;
        }
        .auto-group-zci6-ntS {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          height: 2.2rem;
          white-space: nowrap;
          background-color: #3f3659;
          flex-shrink: 0;
          margin: 0rem 1.2rem 0rem 2.5rem;
          font-weight: 500;
          display: flex;
          font-size: 1.4rem;
          color: #f5f5f5;
          align-items: center;
          border-radius: 0.5rem;
          width: calc(100% - 3.7rem);
        }
      }
      .auto-group-ikni-Si6 {
        box-sizing: border-box;
        width: 23.8rem;
        height: 100%;
        align-items: center;
        background-color: #d9d9d9;
        border-radius: 4.375rem;
        padding: 4.4rem 3.7rem 2.2rem 2.3rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-20-Mq4 {
          width: 16.4rem;
          height: 16.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 3.5rem 1.4rem;
        }
        .item-1499-gsL {
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.2rem 1rem 0rem;
          font-size: 2rem;
        }
        .mxima-owx {
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 13.1rem 1.1rem 0rem;
          font-size: 1.2rem;
          font-weight: 800;
        }
        .aceite-vegetal-900-ml-wYN {
          font-size: 1.2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.6rem 4.6rem 0rem;
        }
        .auto-group-vdyw-fjG {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.2125;
          display: flex;
          align-items: center;
          background-color: #3f3659;
          border-radius: 0.5rem;
          margin: 0rem 1.2rem 0rem 2.5rem;
          width: calc(100% - 3.7rem);
          height: 2.2rem;
          color: #f5f5f5;
          white-space: nowrap;
          justify-content: center;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-7lxi-XmU {
        width: 23.8rem;
        height: 100%;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        background-color: #d9d9d9;
        border-radius: 4.375rem;
        padding: 4.4rem 1.5rem 2.2rem 2.3rem;

        .image-21-3zi {
          flex-shrink: 0;
          margin: 0rem 0rem 3.5rem 0.2rem;
          width: 16.4rem;
          height: 16.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .item-1159-nBc {
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.8rem 1rem 0rem;
        }
        .mxima-i5G {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 15.3rem 1rem 0rem;
          font-size: 1.2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
        }
        .arroz-grado-2-maxima-1-kg-grano-largo-angosto-F5C {
          max-width: 20rem;
          font-size: 1.2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 3.2rem;
        }
        .auto-group-85qw-ZLn {
          margin: 0rem 3.4rem 0rem 2.5rem;
          font-size: 1.4rem;
          white-space: nowrap;
          display: flex;
          border-radius: 0.5rem;
          height: 2.2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #f5f5f5;
          font-family: Inter, 'Source Sans Pro';
          background-color: #3f3659;
          justify-content: center;
          flex-shrink: 0;
          width: calc(100% - 5.9rem);
          align-items: center;
        }
      }
    }
    .auto-group-jxvi-DAS {
      margin: 0rem 70.2rem 0.463rem 69.6rem;
      width: calc(100% - 139.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .image-13-wML {
        height: 4.2366rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.8569rem;
        width: 4.2366rem;
      }
      .image-12-sVt {
        margin-bottom: 0.03rem;
        width: 4.2066rem;
        height: 4.2066rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-10-cCa {
      width: 100%;
      height: 8.4rem;
      background-color: #294c60;
      flex-shrink: 0;
    }
  }
}
