
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.wireframe-home-EaE {
  flex-direction: column;
  background-color: rgba(173, 182, 196, 0.8000000119);
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;

  .group-3-EyY {
    width: 151.5rem;
    height: 31.4rem;
    flex-shrink: 0;

    .rectangle-1-Bfp {
      width: 144rem;
      height: 23.5rem;
      background-color: #294c60;
    }
    .group-2-Hyk {
      height: 100%;
      display: flex;
      align-items: center;

      .laponderosalogo-1-3T8 {
        height: 31.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.3rem;
        width: 94.2rem;
      }
      .auto-group-rftx-ZAa {
        width: 32.3rem;
        height: 23.5rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
      }
    }
  }
  .auto-group-chpn-Fp6 {
    padding-left: 0.1rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-5zrr-yVC {
      align-items: flex-end;
      background-color: rgba(255, 209, 177, 0.8000000119);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 21.4rem 46.5rem 1.7rem 46.5rem;
      display: flex;
      border-radius: 0.2rem;
      margin: 0rem 22.3rem 4.5rem 27.4rem;
      width: calc(100% - 49.7rem);
      column-gap: 1.8rem;

      .ellipse-7-nxS {
        width: 1.6rem;
        height: 1.6rem;
        background-color: #ffe5d3;
        border-radius: 0.8rem;
        flex-shrink: 0;
      }
      .ellipse-6-hZc {
        flex-shrink: 0;
        width: 1.6rem;
        height: 1.6rem;
        background-color: #ffe5d3;
        border-radius: 0.8rem;
      }
      .ellipse-5-EpS {
        height: 1.6rem;
        background-color: #ffe5d3;
        border-radius: 0.8rem;
        flex-shrink: 0;
        width: 1.6rem;
      }
    }
    .auto-group-ycev-izW {
      margin: 0rem 29.9rem 3.9rem 37rem;
      width: calc(100% - 66.9rem);
      height: 29.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-pga6-dLn {
        position: relative;
        flex-shrink: 0;
        margin-right: 23rem;
        width: 30.6rem;
        height: 100%;

        .group-4-YyY {
          width: 30.6rem;
          height: 29.2rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .delivery-tXc {
          left: 7.4rem;
          line-height: 1.2125;
          color: #3f3659;
          white-space: nowrap;
          height: 3.9rem;
          position: absolute;
          top: 18.7rem;
          font-size: 3.2rem;
          font-weight: 800;
          font-family: Inter, 'Source Sans Pro';
          width: 15.9rem;
        }
        .icon-maps-localshipping24px-x1g {
          top: 7.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 12.5606rem;
          height: 8.3432rem;
          cursor: pointer;
          position: absolute;
          left: 9rem;
        }
      }
      .auto-group-npgj-TUE {
        width: 30.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-1-1Er {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 30.6rem;
          height: 29.2rem;
          position: absolute;
          left: 0;
        }
        .categoras-9M4 {
          font-weight: 800;
          white-space: nowrap;
          width: 21.3rem;
          height: 3.9rem;
          top: 18.7rem;
          font-size: 3.2rem;
          line-height: 1.2125;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          left: 4.6rem;
        }
        .shoppingbasket24px-PWJ {
          width: 11rem;
          height: 11rem;
          cursor: pointer;
          position: absolute;
          left: 9.8rem;
          top: 6.2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .rectangle-10-JdG {
      width: 100%;
      height: 8.4rem;
      background-color: #294c60;
      flex-shrink: 0;
    }
  }
}
