
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.wireframe-categoras-H9L {
  flex-direction: column;
  background-color: rgba(173, 182, 196, 0.8000000119);
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;

  .group-3-z3k {
    width: 151.5rem;
    height: 31.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-X3g {
      width: 144rem;
      height: 23.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #294c60;
    }
    .group-2-etz {
      height: 31.4rem;
      position: absolute;
      left: 20.4rem;
      top: 0;
      display: flex;
      align-items: center;
      width: 130.8rem;

      .laponderosalogo-1-bJS {
        width: 94.2rem;
        height: 31.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.3rem;
      }
      .auto-group-oudc-XSz {
        height: 23.5rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 32.3rem;
      }
    }
  }
  .auto-group-iv2a-Ftn {
    box-sizing: border-box;
    padding: 0.5rem 0rem 0rem 0.1rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-phml-ndp {
      flex-shrink: 0;
      margin: 0rem 23.996rem 3.4rem 25.2rem;
      width: calc(100% - 49.1959rem);
      height: 27.2rem;
      display: flex;
      align-items: center;

      .auto-group-xyxa-tgr {
        margin-right: 8.8959rem;
        width: 28.5041rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-8-L34 {
          width: 28.5041rem;
          height: 27.2rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .supermarket-UQA {
          white-space: nowrap;
          width: 13rem;
          position: absolute;
          left: 7.8rem;
          top: 21.3rem;
          line-height: 1.2125;
          height: 2.5rem;
          font-size: 2rem;
          font-weight: 800;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
        }
        .image-3-k6n {
          object-fit: cover;
          vertical-align: top;
          width: 9.8rem;
          height: 14.0361rem;
          position: absolute;
          left: 9.4rem;
          top: 5.6rem;
        }
      }
      .auto-group-kher-E1x {
        margin-right: 7.4959rem;
        width: 28.5041rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-9-McN {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 28.5041rem;
          height: 27.2rem;
          position: absolute;
        }
        .verdulera-WEN {
          height: 2.5rem;
          left: 9rem;
          top: 21.3rem;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
          width: 10.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
        }
        .image-1-c2W {
          width: 13.7rem;
          height: 13.7rem;
          position: absolute;
          left: 7.3rem;
          top: 4.9rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-5pen-wKg {
        position: relative;
        flex-shrink: 0;
        width: 28.5041rem;
        height: 100%;

        .group-16-Gsk {
          height: 27.2rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 28.5041rem;
        }
        .despensa-DY6 {
          height: 2.5rem;
          position: absolute;
          font-size: 2rem;
          font-weight: 800;
          color: #3f3659;
          white-space: nowrap;
          width: 9.9rem;
          left: 8.9rem;
          top: 21.3rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .image-4-jFY {
          top: 4.9rem;
          object-fit: cover;
          vertical-align: top;
          width: 14.3rem;
          height: 14.3rem;
          position: absolute;
          left: 6.7rem;
        }
      }
    }
    .auto-group-qffq-GFU {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 23.996rem 4rem 23.8rem;
      width: calc(100% - 47.7959rem);
      height: 27.2rem;
      display: flex;
      column-gap: 8.8959rem;

      .auto-group-8krx-aGA {
        width: 28.5041rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-12-KUe {
          object-fit: contain;
          vertical-align: top;
          width: 28.5041rem;
          height: 27.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .lacteos-4x2 {
          white-space: nowrap;
          width: 7.9rem;
          height: 2.5rem;
          font-weight: 800;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          left: 10.3rem;
          top: 21.6rem;
          font-size: 2rem;
          color: #3f3659;
        }
        .image-2-PDc {
          width: 16.1rem;
          height: 16.1rem;
          position: absolute;
          left: 7.6rem;
          top: 3.8rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-zvpy-WZ8 {
        width: 28.5041rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-13-4Kk {
          width: 28.5041rem;
          height: 27.2rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .botilleria-QPc {
          width: 8.9rem;
          height: 2.5rem;
          left: 9.8rem;
          top: 21.6rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #3f3659;
        }
        .image-5-ifC {
          width: 14.9rem;
          height: 14.9rem;
          position: absolute;
          left: 6.8rem;
          top: 4.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-qerv-T6z {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 28.5041rem;

        .group-14-byt {
          object-fit: contain;
          vertical-align: top;
          width: 28.5041rem;
          height: 27.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .productos-caseros-Yu8 {
          width: 15.2rem;
          font-size: 1.6rem;
          font-weight: 800;
          white-space: nowrap;
          color: #3f3659;
          font-family: Inter, 'Source Sans Pro';
          height: 2rem;
          position: absolute;
          left: 6.7rem;
          top: 21.6rem;
          line-height: 1.2125;
        }
        .image-6-FYe {
          left: 6.4rem;
          top: 4.4rem;
          object-fit: cover;
          vertical-align: top;
          width: 15.5rem;
          height: 15.5rem;
          position: absolute;
        }
      }
    }
    .rectangle-10-yzS {
      width: 100%;
      height: 8.4rem;
      background-color: #294c60;
      flex-shrink: 0;
    }
  }
}
