
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.wireframe-delivery-xPL {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 182, 196, 0.8000000119);
}
.wireframe-delivery-xPL .group-3-hri {
  width: 151.5rem;
  height: 31.4rem;
  position: relative;
  flex-shrink: 0;
}
.wireframe-delivery-xPL .group-3-hri .rectangle-1-TL6 {
  width: 144rem;
  height: 23.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #294c60;
}
.wireframe-delivery-xPL .group-3-hri .group-2-QFL {
  width: 130.8rem;
  height: 31.4rem;
  position: absolute;
  left: 20.4rem;
  top: 0;
  display: flex;
  align-items: center;
}
.wireframe-delivery-xPL .group-3-hri .group-2-QFL .laponderosalogo-1-Xqk {
  margin-right: 4.3rem;
  width: 94.2rem;
  height: 31.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.wireframe-delivery-xPL .group-3-hri .group-2-QFL .auto-group-wdna-GYS {
  margin-bottom: 0.1rem;
  width: 32.3rem;
  height: 23.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee {
  box-sizing: border-box;
  padding: 3rem 0rem 0rem 0.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-ct4e-Kmc {
  margin: 0rem 70.3rem 8.6rem 0rem;
  width: 66.4rem;
  height: 10rem;
  position: relative;
  flex-shrink: 0;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-ct4e-Kmc .rectangle-18-e3C {
  width: 65.8rem;
  height: 9.9rem;
  position: absolute;
  left: 0.6rem;
  top: 0.1rem;
  background-color: rgba(255, 209, 177, 0.5530000056);
  border-radius: 8.4317rem;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-ct4e-Kmc .group-11-krv {
  width: 10.4795rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-ct4e-Kmc .elige-tu-modo-de-entrega-W5Q {
  width: 49rem;
  height: 4.9rem;
  position: absolute;
  left: 12.6476rem;
  top: 2.4091rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #1a0031;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-ct4e-Kmc .image-22-CU2 {
  width: 5.7rem;
  height: 5.7rem;
  position: absolute;
  left: 2.3rem;
  top: 1.9rem;
  object-fit: cover;
  vertical-align: top;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-gnbc-L4S {
  margin: 0rem 34.8rem 7.8rem 34.6rem;
  width: calc(100% - 69.4rem);
  height: 32.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-gnbc-L4S .auto-group-duzv-S7U {
  margin-right: 13.9rem;
  width: 33.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-gnbc-L4S .auto-group-duzv-S7U .group-8-P2i {
  width: 33.9rem;
  height: 32.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-gnbc-L4S .auto-group-duzv-S7U .retiro-en-local-iqg {
  width: 14rem;
  height: 2.5rem;
  position: absolute;
  left: 10rem;
  top: 24.3rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #3f3659;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-gnbc-L4S .auto-group-duzv-S7U .image-7-Rk6 {
  width: 14.4rem;
  height: 14rem;
  cursor: pointer;
  position: absolute;
  left: 10.1rem;
  top: 8.4rem;
  object-fit: cover;
  vertical-align: top;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-gnbc-L4S .auto-group-b2fk-ZLW {
  width: 33.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-gnbc-L4S .auto-group-b2fk-ZLW .group-9-iDQ {
  width: 33.9rem;
  height: 32.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-gnbc-L4S .auto-group-b2fk-ZLW .delivery-rqQ {
  width: 8.3rem;
  height: 2.5rem;
  position: absolute;
  left: 12.8rem;
  top: 24.3rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #3f3659;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .auto-group-gnbc-L4S .auto-group-b2fk-ZLW .image-9-yQE {
  width: 12.5rem;
  height: 12.5rem;
  cursor: pointer;
  position: absolute;
  left: 10.7rem;
  top: 10.2rem;
  object-fit: cover;
  vertical-align: top;
}
.wireframe-delivery-xPL .auto-group-g7hc-Qee .rectangle-10-WQA {
  width: 100%;
  height: 8.4rem;
  background-color: #294c60;
  flex-shrink: 0;
}
