
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.wireframe-direccin-nDQ {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 182, 196, 0.8000000119);
}
.wireframe-direccin-nDQ .group-3-JhY {
  width: 151.5rem;
  height: 31.4rem;
  position: relative;
  flex-shrink: 0;
}
.wireframe-direccin-nDQ .group-3-JhY .rectangle-1-3v2 {
  width: 144rem;
  height: 23.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #294c60;
}
.wireframe-direccin-nDQ .group-3-JhY .group-2-aux {
  width: 130.8rem;
  height: 31.4rem;
  position: absolute;
  left: 20.4rem;
  top: 0;
  display: flex;
  align-items: center;
}
.wireframe-direccin-nDQ .group-3-JhY .group-2-aux .laponderosalogo-1-uxE {
  margin-right: 4.3rem;
  width: 94.2rem;
  height: 31.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.wireframe-direccin-nDQ .group-3-JhY .group-2-aux .auto-group-lndg-qaz {
  margin-bottom: 0.1rem;
  width: 32.3rem;
  height: 23.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.wireframe-direccin-nDQ .auto-group-sg2e-N58 {
  box-sizing: border-box;
  padding: 8.1rem 0rem 0rem 0.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.wireframe-direccin-nDQ .auto-group-sg2e-N58 .auto-group-ddpe-Hht {
  margin: 0rem 44.9rem 8rem 44.8rem;
  box-sizing: border-box;
  padding: 6.9rem 5.8rem 1.3rem 5.8rem;
  width: calc(100% - 89.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.wireframe-direccin-nDQ .auto-group-sg2e-N58 .auto-group-ddpe-Hht .nombre-y-apellido-zVp {
  margin: 0rem 29rem 1rem 0rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #3f3659;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wireframe-direccin-nDQ .auto-group-sg2e-N58 .auto-group-ddpe-Hht .rectangle-15-rnv {
  margin-bottom: 5.2rem;
  width: 100%;
  height: 8.7rem;
  background-color: #b4bcc7;
  border-radius: 5rem;
  flex-shrink: 0;
}
.wireframe-direccin-nDQ .auto-group-sg2e-N58 .auto-group-ddpe-Hht .direccin-bEi {
  margin: 0rem 37.8rem 0.8rem 0rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #3f3659;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wireframe-direccin-nDQ .auto-group-sg2e-N58 .auto-group-ddpe-Hht .rectangle-16-i4S {
  margin-bottom: 5.1rem;
  width: 49.8rem;
  height: 8.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.wireframe-direccin-nDQ .auto-group-sg2e-N58 .auto-group-ddpe-Hht .auto-group-wa3t-F4N {
  margin: 0rem 11.7rem 0rem 11.9rem;
  width: calc(100% - 23.6rem);
  height: 4rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #f5f5f5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-16.png');
  flex-shrink: 0;
}
.wireframe-direccin-nDQ .auto-group-sg2e-N58 .rectangle-10-ecJ {
  width: 100%;
  height: 8.4rem;
  background-color: #294c60;
  flex-shrink: 0;
}
